body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
   width: 75%;
    margin: auto;
    height: 75%;
    /* border: 1px solid black; */
    overflow: hidden;
}

#mainDiv {
    background-image: radial-gradient(black 80%, ghostwhite);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.menu {
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
    margin-right: 60px;
    font-size: x-large;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: ghostwhite;
}

a:active {
    background-color: grey;
}

a:hover {
    cursor: pointer;
}

.main {
    margin: 20px 70px 0px 70px;
    color: ghostwhite;
    text-align: center;
    height: 65%;
}

.header {
    text-align: center;
    font-size: 50px;
    color: ghostwhite;
}
p {
    color: ghostwhite;
    
}

.about {
    text-align: start;
}
/* .footer {
    border: 1px solid black;
    position: fixed;
    bottom: 20px;
} */

.placeholder {
    /* border: 1px solid white; */
    height: 175px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: row;
}
.cv {
    display: grid;
    grid-template-rows: 1fr auto;
    /* grid-row-gap: 10px; */
    text-align: center;
}

h2 {
    color: ghostwhite;
}

.form {
}